[submodule "test-project-1"]
	path = test-project-1
	url = git@github.com:dlinten/test-project-1.git
[submodule "test-project-3"]
	path = test-project-3
	url = git@github.com:dlinten/test-project-3.git
